---
version: "3.9"
services:
  webserver:
    image: nginx:1.23
    ports:
      - target: 80
        published: 8081
        protocol: tcp
        mode: host
    networks:
      - webserver-net
networks:
  webserver-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.100.0/24



      
  